* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:rgb(43, 0, 32);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../assets/img/image.png')
}
header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgba(221, 113, 194, 0.678);
    align-items:center ;

}
header img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#Sobre {
    display: flex;
    gap: 30px;
}

#itens {
    display: flex;
    gap: 20px;
}
#Apresentaçao{
    margin-top: 40px;
    background-color: rgb(238, 130, 186);
    padding: 20px;
}
#Apresentaçao h2{
    color: rgb(250, 253, 255);
    font-size: 50px;
}
#Apresentaçao img{
    margin-top: 10px;
    width:100%;
    height: 650px;
    object-fit: cover;
    border-radius: 12px;
}
#servicos{
 background-color: rgb(243, 117, 205);
}
#texto{
margin-top:40px;
font-size: 30px;
padding: 20px;
}
#texto h2{
    color:#f8f8f7
}
#fotos{
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.bolo-cards{
   padding: 10px;
   background-color: rgb(255, 232, 246); 
   width:25%;
   border-radius: 12px;
}
.bolo-cards img{
    width: 100%;
    border-radius: 12px;
}
#requisitos {
    margin-top:40px;
padding: 20px;
background-color: rgb(252, 126, 184);

}
#lista{
    padding: 20px;
}
#requisitos h2{
    font-size: 24px;
    font-weight: 700;
    color: #92005fee;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: rgb(245, 233, 219);
}

td {
    border: 1.8px solid #e253ca;
    text-align: center;
}

th {
    border: 1.8px solid #f012ad;
}

#section-table {
    display: flex;
    justify-content: center;
    
}
footer {
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(238, 213, 234);
}

#identificacao {
    display: flex;
    gap: 20px;
}